<section id="showcase">
    <h1 align="center">Created using Node.js and Express</h1>
    <p>&nbsp;</p>
    <p align="center"><img src="/img/slide_500x282.jpg" border="0" /></p>
    <p align="center">
        This is a responsive design.<br />View on a mobile phone or shrink the browser window.
    </p>
</section>
