html, body {margin:0;padding:0;}
body {font-family:'Roboto', sans-serif;font-size:15px;line-height:1.5;}

/* Global */
.container {width:95%;margin:auto;overflow:hidden;}

#main {max-width:1000px;margin:0 auto;}
header #menu-icon {display:none;}
header {background-color:#000;color:#fff;padding:10px;border-bottom:1px solid #fff;}
header a {color:#fff;text-decoration:none;text-transform:uppercase;font-size:12px;}
header a.active {text-decoration:underline;}
header ul {margin:0;padding:0;}
header li {float:left;padding:0 20px 0 20px}
header #branding {float:left;display:none;}
header nav {float:right;}
header nav ul {list-style:none;}
header #menu-icon {float:left;color:#fff;font-weight:bold;line-height:0.5;width:40px;}
section {padding:10px;}
#showcase h1 {font-size:26px;}
#showcase h2 {font-size:20px;}
#showcase {min-height:350px;background-color:#fff;}
#showcase img {width:500px;}
#content {background-color:#fff;}
footer {background-color:#fff;text-align:center;color:#000;font-size:12px;padding:8px;border-top:1px solid #cccccc;}
/*p:target {background-color:gold;}
p:target::before {content: "►";color: limegreen;}&*/
@media (max-width:768px) {
    header #menu-icon {display:block;float:none;width:100%;}
    header #branding {float:none;display:block;text-align:center;width:100%;padding-top:10px;}
    header nav {float:none;text-align:center;padding-top:20px;}
    header li {float:none;display:block;margin-top:5px;}
    header li a {font-size:18px;}
    #showcase {background-size:768px;background-position:left -100px;}
    #showcase img {width:300px;}
}

/* contact page */
#content-contact table {border-collapse:collapse;}
#content-contact th, #content-contact td {border:1px solid #ccc;padding:4px;font-size:12px;}


